.container {
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    padding: 1px 6px;
  }

li #signin {
    color: white;
    background-color: rgb(65, 65, 207);
    border: 0;
  }

header {
    height: 200px;
}

.buttons {
    display:flex;
    justify-content: center;
     
}

#Google_Search {
    margin-right: 5px;
}

#Lucky {
    
}

img {
    display:block;
    margin:auto;
}

.search {
    display:block;
    margin:auto;
}

.google {
    
   
}

.div {

}




}

